.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.box {
  background-color: black;
  height: 200px;
  width: 200px;
  margin: 10px;
  cursor: pointer;
}

.box-active {
  background-color: red;
}